<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configs SELEFILE="C:\Users\xubin\Desktop\tuya_boot\rt_ota_packaging_tool\rt_ota_packaging_tool\beken7231_full.bin" SAVEFILE="C:\Users\xubin\Desktop\tuya_boot\rt_ota_packaging_tool\rt_ota_packaging_tool\beken7231_full.rbl" COMPRESS="3" CRYPT="1" KEY="0123456789ABCDEF0123456789ABCDEF" IV="0123456789ABCDEF" NAME="app" VERSION="2" />
</configuration>